.contacts
  .subtitle.subtitle_contacts Контакты
  ul.contacts__list
    li.contacts__item
      a.contacts__link(href="skype:skype_kdn")
        svg.contacts__icon
          use(xlink:href="assets/img/sprite.svg#skypeContacts")
        span.contacts__text skype_kdn
    li.contacts__item
      a.contacts__link(href="mailto:astahov@gmail.com")
        svg.contacts__icon
          use(xlink:href="assets/img/sprite.svg#envelopeContacts")
        span.contacts__text astahov@gmail.com
    li.contacts__item
      a.contacts__link(href="tel:+7 931 200 93 24")
        svg.contacts__icon
          use(xlink:href="assets/img/sprite.svg#phoneContacts")
        span.contacts__text +7 931 200 93 24        
    li.contacts__item
      a.contacts__link(href="#")
        svg.contacts__icon
          use(xlink:href="assets/img/sprite.svg#mapMarker")
        span.contacts__text г.Новосибирск, ул. Инская, д. 5