footer.footer
  .footer__row.container
    nav.footer__nav
      ul.menu
        each item in['Мои работы', 'Обо мне', 'Блог', 'Авторизация']
          li.menu__item
            a(class="menu__link" href="#")= item
    ul.socials.socials_footer
      - icons = ['vk_round', 'github_round', 'in_round']
      each icon in icons
        li.socials__item
          a(class="socials__link" href="#")
            svg.socials__icon.socials__icon_footer
              use(xlink:href=`img/sprite.svg#${icon}`)
  .footer__row.container
    .footer__userAbout Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
    include copyright 