section.section.hero
  include navi
  .hero__bg
    .hero__bgImage
  .hero__container.container
    - var source = socials
    +socials('socials_hero')
    a.hamburger(href="#")
      svg.hamburger__icon
        use(xlink:href="img/sprite.svg#hamburger")
    .hero__content    
      svg.hero__titleBg
        use(xlink:href="img/sprite.svg#portfolioHeader")
      +user('hero__userBlock user_hero')
    +scrollArrow('#', 'scrollArrow_hero')