section.section.hero
  .hero__bg
    img.hero__bgImage(src="assets/img/bg/aboutHeaderBg.jpg")
  .hero__container  
    include ../common/socials
    a.hamburger(href="#")
    .hero__title
      img.heroTitleImage(src="assets/img/decor/portfolioHeader.png")
      .user.hero__userBlock
        .user__imageContainer
          img.user__image(src="assets/img/content/header/userAvatar.jpg")
        .user__name Владимир Астахов
        .user__description Личный сайт веб разработчика
    a.downArrow(href="#")