- var userAdditionalClass = 'hero__userBlock'
- var socialsAdditionalClass = 'socials_hero'

section.section.hero
  .hero__bg
    img.hero__bgImage(src="img/bg/aboutHeaderBg.jpg")
  .hero__container.container
    include socials
    a.hamburger(href="#")
      svg.hamburger__icon
        use(xlink:href="img/sprite.svg#hamburger")
    svg.hero__titleBg
      use(xlink:href="img/sprite.svg#portfolioHeader")
    include user
    a.downArrow(href="#")
      svg.downArrow__icon
        use(xlink:href="img/sprite.svg#arrowDown")