block variables
  - var source = socials

section.section.hero
  .hero__bg
    img.hero__bgImage(src="img/bg/aboutHeaderBg.jpg")
  .hero__container.container
    +socials('socials_hero')
    a.hamburger(href="#")
      svg.hamburger__icon
        use(xlink:href="img/sprite.svg#hamburger")
    .hero__content    
      svg.hero__titleBg
        use(xlink:href="img/sprite.svg#portfolioHeader")
      +user('hero__userBlock', 'user_hero')
    a.downArrow(href="#")
      svg.downArrow__icon
        use(xlink:href="img/sprite.svg#arrowDown")