ul.socials
  each item in ['vk', 'gh', 'in']
    li.socials__item
      a(class=`socials__link socials__link_${item}` href="#")
        svg.socials__icon
          use(xlink:href="assets/img/sprite.svg#phoneContacts")