mixin title (additionalClass, background, content)
  .sectionTitle(class= additionalClass)
    svg.sectionTitle__bg
      use(xlink:href=`img/sprite.svg#${background}`)
    .sectionTitle__inner= content

mixin user (element, modifier)
  .user(class= element class= modifier)
    .user__imageContainer
      img.user__image(src="img/content/header/userAvatar.jpg")
    .user__name Владимир Астахов
    .user__description Личный сайт веб разработчика

mixin socials (element, modifier)
  ul.socials(class= element class= modifier)
    each icon in socialsIcons
      li.socials__item
        a.socials__link(href="#")
          svg.socials__icon
            use(xlink:href=`img/sprite.svg#${icon}`)

mixin copyright (additionalClass)
  .copyright(class= additionalClass) © Владимир Астахов | Создано с любовью в LoftSchool | 2017

mixin triangleLeft (element, modifier)
  svg(viewbox="0 0 900 160" preserveAspectRatio="none" class= element class= modifier)
    polygon(points = "0, 0 0, 160 900, 160")

mixin triangleRight (element, modifier)
  svg(viewbox="0 0 900 160" preserveAspectRatio="none" class= element class= modifier)
    polygon(points="0, 160 900, 160 900, 0")