* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font: $primaryFont;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

input, textarea, button {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

.wrapper {
  // min-height: 100%;
  flex: 1 0 auto;
  overflow: hidden;  
  position: relative;
}

.prllxWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1800px;
  height: 100%;
  margin: 0 auto;
  @include desktop {
    max-width: 1200px;
  }
  @include laptop {
    max-width: 768px;
  }
  &_blog {
    max-width: 1140px;
  }
}

.svg {
  display: block;
}