* {
  box-sizing: border-box;
}

html {
  height: 100%;
}
  
body {
  height: 100%;
  font: $primaryFont;
  -webkit-font-smoothing: antialiased;
  margin: 0;  
}

.wrapper {
  min-height: 100%;
  overflow: hidden;  
  position: relative;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}