@mixin centered($axis: 'both') {
  position: absolute;

  @if $axis == 'both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @if $axis == 'x' {
    left: 50%;
    transform: translateX(-50%);
  }

  @if $axis == 'y' {
    top: 50%;
    transform: translateY(-50%);
  }
}

// %halfSectionLeft {
//   max-width: 900px;
//   margin-left: auto;
// }

// %halfSectionRight {
//   max-width: 900px;
//   margin-right: auto;
// }

%titleDecor {
  content: '';
  display: block;
  width: 22px;
  height: 6px;
  @include centered(y);
}

%titleStyles {
  display: inline-block;
  font-family: 'bernierRegular';
  color: $gray;
  text-align: center;
  white-space: nowrap;
  // text-transform: uppercase;
}

%heading {
  @extend %titleStyles;
  padding: 0 42px;
  position: relative;
  &::before, &::after {
    @extend %titleDecor;
    background-color: rgba(#373e42, .2);
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }
}

@mixin iconSize($widtn, $height) {
  width: $widtn;
  height: $height;
}

@mixin boxSize($widtn, $height) {
  width: $widtn;
  height: $height;
}

%stretch {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

%input {
  width: 340px;
  height: 45px;
  background-color: rgba(#fff, .75);
  border-radius: $borderRadius;
  padding: 0 20px;
  margin-bottom: 20px;
}

%socials {
  // display: block;
  @include iconSize(30px, 22px);
  opacity: .5;
  transition: opacity .75s;
  &:hover {
    opacity: 1;
  }
}

%inlineLink {
  font-family: 'robotoMedium';
  color: $inlineLink;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

// Adaptive
@mixin desktopMax {
  @media (max-width: 1920px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1800px) {
    @content;
  }
}

@mixin desktopBreakPoint {
  @media (max-width: 1680px) {
    @content;
  }
}

@mixin laptopMax {
  @media (max-width: 1366px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin laptopBreakPoint {
  @media (max-width: 1042px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin phoneMax {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin phoneMaxBreakPoint {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 320px) {
    @content;
  }
}