// Fonts
$primaryFont: 1em / 1.42 "robotoRegular", Arial, sans-serif;
$baseFontSize: 16px;

// Colors
$snowWhite: #fff;
$white: #efeee9;
$beige: #eeebdf;
$lightBeige: #f9f8f0;
$darkBeige: #efebe0;
$green: #00bfa5;
$darkGreen: #009688;
$greenTransparent: rgba(#00bfa5, .85);
$darkGreenTransparent: rgba(#009688, .85);
$silver: #f0efe9;
$lightGray: #aeb0b1;
$gray: #455a64;
$darkGray: #373e42;
$inlineLink: #6da3bd;
$titleBg: #6d7070;
$boxBgColor: rgba(252, 252, 252, .85);

// Others
$background: url('../../img/bg/mainBg.jpg') no-repeat center center;
$borderRadius: 5px;
$boxMenuHeight: 45px; // Заменить везде на navHeight и удалить
$navHeight: 45px;
$navButtonsBorder: 1px solid #73c8c0;

// #dfdcd5 - .circle__first stroke color

// #b6b4ae .7 - цвет фильтра на кнопках

