$primaryFont: 16px / 1.42 "robotoRegular", Arial, sans-serif;

// Colors
$snowWhite: #fff;
$white: #efeee9;
$beige: #eeebdf;
$lightBeige: #f9f8f0;
// $green: #10c1a8; 
$green: #00bfa5;
$lightGray: #aeb0b1;
$gray: #455a64;
$darkGray: #373e42;