.about {
  display: flex;
  position: relative;
  @include laptop {
    flex-direction: column;
  }
  &__column {
    width: 50%;
    padding-bottom: 70px;  
    position: relative;
    @include laptop {
      width: 100%;
    }
    &_left {
      background-color: $white;
    }
    &_right {
      background-color: $beige;
    }
  }
  &__columnContent {
    max-width: 900px;
    @include desktop {
      max-width: 600px;
    }
    &_left {
      display: flex;
      text-align: center;
      padding: 0 20px;
      margin-left: auto;
      @include desktop {
        flex-direction: column;
        align-items: center;
      } 
    }
    &_right {
      padding: 0 40px;
      margin-right: auto;
      @include desktop {
        padding-right: 0;
      } 
    }
  }
  // &__triangle {
  //   position: absolute;
  //   bottom: 100%;
  //   @include tablet {
  //     width: 50%;
  //   }
  //   &_fillWhite {
  //     fill: $white;  
  //   }
  //   &_fillBeige {
  //     fill: $beige;
  //     @include tablet {
  //       right: 0;
  //       bottom: calc(100% + 600px);
  //     }
  //   }
  // }
  &__title {
    position: relative;
  }
  &__sectionTitle {
    width: 416px;
    margin-top: -35px;
  }
  &__SectionTitleBg {
    width: 357px;
    height: 125px;
  }
}