.about {
  display: flex;
  // margin-top: -160px;
  &__column {
    width: 50%;
    position: relative;
    &_left {
      background-color: $white;
    }
    &_right {
      background-color: $beige;
    }
  }
  &__triangle {
    position: absolute;
    bottom: 100%;
    &_fillWhite {
      fill: $white;  
    }
    &_fillBeige {
      fill: $beige;      
    }
  }
}