.about {
  display: flex;
  &__column {
    width: 50%;
    position: relative;
    &_left {
      background-color: $white;
    }
    &_right {
      background-color: $beige;
    }
  }
  &__columnContent {
    max-width: 900px;
    &_left {
      margin-left: auto;
    }
    &_right {
      margin-right: auto;
    }
  }
  &__triangle {
    position: absolute;
    bottom: 100%;
    &_fillWhite {
      fill: $white;  
    }
    &_fillBeige {
      fill: $beige;      
    }
  }
  &__containerColumn {
    max-width: 900px;
  }
}