.authorization {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 45px;
  font-family: 'robotoMedium';
  color: $snowWhite;
  border: 1px solid $snowWhite;
  border-radius: $borderRadius;
  transition: all $flipAnimationDuration;
  &_hidden {
    opacity: 0;
    cursor: default;
  }
  @include phoneMax {
    align-self: auto;
  }
  @include phoneMaxBreakPoint {
    width: 148px;
    height: 40px;
  }
  &:hover {
    color: $green;
    background-color: $snowWhite;
  }
}