.blogHero {
  height: 70vh;
  min-height: 400px;
  color: $snowWhite;  
  overflow: hidden;
  position: relative;
  &__bg {
    @extend %stretch;
  }
  &__bgImage {
    min-width: 100%;
    height: auto;
  }
  &__container {
    @extend %stretch;
  }
}