.box {
  display: flex;
  flex-direction: column;
  border-radius: $borderRadius;
  overflow: hidden;
  &_welcome {
    @include boxSize(380px, 395px);
    @include tablet {
      @include boxSize(348px, 395px);
    }
    @include phoneMax {
      @include boxSize(300px, 395px);
    }
  }
  &_contacts {
    @include boxSize(380px, 290px);
    @include tablet {
      @include boxSize(350px, 285px);
    }
  }
  &_works {
    @include boxSize(380px, 437px);
    .box__menuItem {
      flex: 1;
    }
  }
  &__content {
    height: calc(100% - #{$boxMenuHeight});
    background-color: $boxBgColor;
    text-align: center;
    padding: 20px;
    &_welcome {
      color: $gray;
      padding-top: 40px;
    }
  }
  &__menu {
    height: $boxMenuHeight;
    display: flex;
  }
  &__menuItem {
    flex-grow: 1;
    position: relative;
    &::before {
      display: block;
      content: '';
      width: 2px;
      height: $boxMenuHeight;
      background-color: #73c8c0;
      position: absolute;
      left: -1px;
    }
    &:first-child::before {
      display: none;
    }
  }
  &__menuButton {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: $boxMenuHeight;
    font-family: 'robotoMedium';
    // font-size: $baseFontSize;
    color: $snowWhite;    
    background-color: $greenTransparent;
    transition: background-color .75s;
    &:hover {
      background-color: $darkGreenTransparent;
    }
  }
}