.contacts {
  width: 380px;
  height: 290px;
  background-color: $board;
  border-radius: 5px;
  @include centered();
  overflow: hidden;
  padding: 30px 40px;
  &__title {
    text-align: center;
  }
  &__list {
    font-family: 'robotoMedium';
    color: $gray;
    margin-top: 20px;
  }
  &__item {
    margin-bottom: 20px;
  }
  &__link {
    display: flex;
    align-items: center;    
  }
  &__icon {
    @include iconSize(24px, 24px);
    fill: $green;
    margin-right: 10px;
  }
}