.downArrow {
  @include centered(x);
  bottom: 10%;
  z-index: 1;  
  &__icon {
    @include iconSize(26px, 16px);
    fill: $snowWhite;
    opacity: .7;
    transition: opacity .75s;
    &:hover {
      opacity: 1;
    }
  }
}