.flipBox {
  width: 380px;
  height: 395px;
  position: relative;
  transform-style: preserve-3d;
  transition-duration: $flipAnimationDuration;
  &__card {
    display: flex;
    flex-direction: column;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    @extend %stretch;
    &_login {
      transform: rotateY(180deg);
    }
  }
  &__cardContent {
    height: calc(100% - #{$boxMenuHeight});
    background-color: $boxBgColor;
    border-radius: $borderRadius $borderRadius 0 0;
    overflow: hidden;     
    text-align: center;
    padding: 40px;
  }
}