.footerNav {
  width: 400px;
  @include laptopBreakPoint {
    margin-bottom: 15px;
  }
  @include phoneMax {
    width: 100%;
  }
  // @include phone {
  //   width: 100%;
  // }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    font-family: "robotoMedium";
    color: $snowWhite;
    transition: color .75s;
    &:hover {
      color: $green;
    }
  }
}