.footer {
  min-height: 147px;
  // position: absolute;
  // left: 0;
  // right: 0;
  // bottom: 0;
  flex: 0 0 auto;
  background-color: rgba(55, 62, 66, .85);
  &__row {
    min-height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $lightGray;
    padding: 20px 30px;
    @include laptopBreakPoint {
      min-height: 120px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &:first-child {
      border-bottom: 1px solid rgba(73, 79, 83, .85); 
    } 
  }
  &__userAbout {
    width: 500px;
    @include laptopBreakPoint {
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
    }
  }
}