.hero {
  height: 600px;
  // height: 100vh;
  color: $snowWhite;  
  overflow: hidden;
  position: relative;
  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__bgImage {
    min-width: 100%;
    height: auto;
  }
  &__container {
    padding: 28px 30px;
    position: relative;
  }
  &__titleBg {
    width: 1176px;
    height: 313px;
    @include centered();
    fill: rgba(#fdfdfd, .1);
  }
  &__userBlock {
    @include centered();
  }
}