.nav {
  font-family: 'robotoMedium';
  color: $snowWhite;  
  &__list {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    flex-grow: 1;
    position: relative;
    &::before {
      display: block;
      content: '';
      width: 2px;
      height: 45px;
      background-color: #73c8c0;
      position: absolute;
      left: -1px;
    }
    &:first-child::before {
      display: none;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background-color: $greenTransparent;
    transition: background-color .75s;
    &:hover {
      background-color: $darkGreenTransparent;
    }
  }
}