.parallax {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -50%;
  background: url('../../img/parallax/parallaxBg.jpg') no-repeat top center;
  background-size: cover;
  &__layer {
    width: 4000px;
    height: 2658px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2000px;
    margin-top: -1329px;
    @include desktopMax {
      width: 2600px;
      height: 1728px;
      margin-left: -1300px;
      margin-top: -864px;
    }
    @include desktop {
      width: 2000px;
      height: 1328px;
      margin-left: -1000px;
      margin-top: -664px;
    }
    @include laptopMax {
      width: 1600px;
      height: 1064px;
      margin-left: -800px;
      margin-top: -532px;
    }
  }
  &__image {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}