.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: $green;
  &__content {
    width: 150px;
    height: 150px;
    position: absolute;
    @include centered;
  }
  &__animation {
    width: 150px;
    height: 150px;
    position: relative;
    animation: preloader 2s linear infinite;
    &, &:before, &:after {
      border: 3px solid transparent; 
      border-top-color: $snowWhite;
      border-radius: 50%;
    }
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
    }
    &:before {
      $margin: 10px;
      top: $margin;
      left: $margin;
      right: $margin;
      bottom: $margin;
      animation: preloader 2.5s linear infinite;
    }
    &:after {
      $margin: 23px;
      top: $margin;
      left: $margin;
      right: $margin;
      bottom: $margin;
      animation: preloader 3s linear infinite;
    }
  }
  &__percents {
    @include centered;
    color: $snowWhite;
  }
}

@keyframes preloader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}