.reviewsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 70px;
  &__item {
    width: 380px;
    &::before {
      display: block;
      content: '';
      //
      //
      //
      //
    }
  }
  &__text {
    color: $gray;
    margin-bottom: 20px;
  }
  &__userBlock {
    display: flex;
  }
  &__userPhoto {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__image {
    display: block;
  }
  &__userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $green;
    padding-left: 20px;
  }
  &__userName {
    font-family: 'robotoBold';
  }
}