.scrollArrow {
  @include centered(x);
  bottom: 70px;
  &_hero {
    z-index: 1;
  }
  &_reviews {
    transform: rotate(180deg) translateX(50%);
  }
  &__icon {
    display: block;
    @include iconSize(26px, 16px);
    fill: $snowWhite;
    opacity: .7;
    transition: opacity .75s;
    &:hover {
      opacity: 1;
    }
  }
}