.skillSection {
  font-family: 'robotoMedium';
  &__title {   
    font-size: 28px;
    color: $gray;
    margin-bottom: 10px;
    @include tablet {
      font-size: 21px;      
      text-align: center;
    }
  }
  &__list {
    display: flex;
    flex-flow: row wrap;
    margin-left: -40px;
    // justify-content: center;    
    @include laptop {
      margin-left: -37px;
    }
    @include laptopBreakPoint {
      margin-left: -20px;
    }
    @include tablet {
      justify-content: center;
    }
  }
  &__item {
    display: block;
    width: 120px;
    height: 120px;
    position: relative;
    margin-left: 40px;
    margin-bottom: 20px;
    @include laptop {
      width: 110px;
      height: 110px;
      margin-left: 37px;
    }
    @include laptopBreakPoint {
      margin-left: 20px;
    }
    // &:last-child {
    //   margin-right: 0;
    // }
  }
  &__name {
    font-size: 14px;
    line-height: 1.1;
    color: $green;
    text-align: center;
    position: absolute;
    @include centered();
    @include laptop {
      font-size: 13px;
    }
  }
}