.socials {
  width: 140px;  
  display: flex;
  justify-content: space-between;
  &_welcome {
    margin: 30px auto;
    .socials__icon {
      @extend %socials;
      fill: $green;
    }
  }
  &_hero {
    position: absolute;
    top: 28px;
    left: 30px;
    .socials__icon {
      @extend %socials;
      fill: $snowWhite;
    }
  }
  &_footer {
    width: 128px;
    .socials__icon {
      @include iconSize(36px, 36px);
      fill: #9b9fa1;
      transition: fill .75s;
      &:hover {
        fill: #fff;
      }
    }
  }
  &__icon {
    display: block;
  }
}