.triangle {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 100%;
  &__unit {
    display: block;
    flex: 1;
  }
  &__polygon {
    display: block;
    &_about {
      &_left {
        fill: $white;
      }
      &_right {
        fill: $beige;
        @include tablet {
          fill: $white;
        }
      }
    }
    &_works {
      fill: $lightBeige;      
    }
    &_blog {
      fill: $snowWhite;
    }
  }
}