.user {
  text-align: center;
  &_hero {
    .user__name {
      font-size: 35px;      
    }
  }
  &__name {
    font-family: "robotoMedium";
  }
  &__description {
    font-family: "robotoLight";
  }
}