.user {
  color: $snowWhite;
  &__imageContainer {
    display: inline-block;
    width: 141px;
    height: 141px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__image {
    display: block;
    width: 100%;
    height: 100%;
  }
  &__name {
    font-family: "robotoMedium";
    font-size: 35px;
  }
  &__description {
    font-family: "robotoLight";
  }
}