.user {
  text-align: center;
  &_hero {
    .user__name {
      font-size: 35px;
      @include phoneMaxBreakPoint {
        font-size: 21px;
      }
    }
  }
  &__name {
    font-family: "robotoMedium";
  }
  &__description {
    font-family: "robotoLight";
    font-size: 16px;
    @include phoneMaxBreakPoint {
      font-size: 14px;
    }
  }
}