.welcome {
  height: 100vh;
  background: $background;
  background-size: cover;
  position: relative;
  &__socials {
    margin: 30px auto;
  }
  &__copyright {
    color: $snowWhite;
    @include centered(x);
    bottom: 5%;
  }
}

.socials_welcome {
  .socials__icon {
    fill: $green;
  }
}

.user_welcome {
  .user__name {
    font-size: 28px;
  }
}