.welcome {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  &__inner {
    max-width: 1800px;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
  &__board {
    @include centered();
  }
  &__copyright {
    color: $snowWhite;
    @include centered(x);
    bottom: 5%;
  }
}

.user_welcome {
  .user__name {
    font-size: 28px;
  }
}