.welcome {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  &__inner {
    max-width: 1800px;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
  &__socials {
    margin: 30px auto;
  }
  &__copyright {
    color: $snowWhite;
    @include centered(x);
    bottom: 5%;
  }
}

.socials_welcome {
  .socials__icon {
    fill: $green;
  }
}

.user_welcome {
  .user__name {
    font-size: 28px;
  }
}