extends ../template

block variables
  - var title = 'About | Vladimir Astachov'

block content
  .wrapper
    include ../common/hero
    section.section.about
      +triangleBlock('triangle__polygon_about_left', 'triangle__polygon_about_right')
      .about__column.about__column_left
        //- svg(viewbox="0 0 900 160" preserveAspectRatio="none").about__triangle.about__triangle_fillWhite
          polygon(points = "0, 0 0, 160 900, 160")
        .about__columnContent.about__columnContent_left
          .about__title
            +title('about__sectionTitle', 'titleAboutBg', 'Обо мне')
          .userAbout
            .userAbout__picture
              img.userAbout__image(src="img/content/about/userPhoto.jpg")
            .userAbout__title
              .subtitle Кто я
            .userAbout__text
              p 
                | Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              p 
                | Этот сайт я сделал в рамках обучения в Школе онлайн образования 
                a(href="https://loftschool.com/" target="_blank") LoftSchool.
                |  Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .about__column.about__column_right
        //- svg(viewbox="0 0 900 160" preserveAspectRatio="none").about__triangle.about__triangle_fillBeige
          polygon(points="0, 160 900, 160 900, 0")
        .about__columnContent.about__columnContent_right
          .aboutData
            .aboutData__description.aboutUserInfo
              .aboutUserInfo__title
                .subtitle 
                  | Чем я могу быть 
                  br 
                  | вам полезен
              .aboutUserInfo__text
                p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
            .aboutData__content
              ul.skills
                each skillsObject in skills
                  each skillsArray, skillsArrayName in skillsObject
                    li.skills__item
                      .skillSection
                        .skillSection__title= skillsArrayName
                        ul.skillSection__list
                          each skill in skillsArray
                            li.skillSection__item
                              svg.circle(viewbox="0 0 110 110")
                                circle.circle__first(r="45" cx="50%" cy="50%")
                                circle.circle__second.circle15(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)")
                              .skillSection__name= skill
    section.section.map
      .mapContainer(id="map")
      include ../common/contacts
  include ../common/footer  