extends ../_template

block variables
  - var title = 'About page'

block content
  .wrapper
    section.section.hero
      ul.socials
        each item in ['vk', 'gh', 'in']
          li.socials__item
            a(href="#" class=`socials__link socials__link_${item}`)
      a.hamburger(href="#")
      a.downArrow(href="#")
      .hero__title
        img.section(src="")
        .user.hero__userBlock
          .user__photo
          .user__name Владимир Астахов
          .user__description Личный сайт веб разработчика
    section.section.about
      .about__left
        svg.triangle.triangle_fillWhite
        .title.about__sectionTitle Обо мне
        .userAbout
          .userAbout__picture
          .userAbout__title
            .subtitle Кто я
          .userAbout__text
            p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .about__right
        svg.triangle.triangle_fillBeige
        .aboutData
          .aboutData__description.aboutUserInfo
            .aboutUserInfo__title
              .subtitle Чем я могу быть вам полезен
            .aboutUserInfo__text
              p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
          .aboutData__content
            ul.skills
              each skill in ['Frontend', 'Backend', 'WorkFlow']
                li.skills__item
                  .skillSection
                    .skillSection__title= skill
                    ul.skillSection__list 
    section.section.map