extends ../templateAbout

block variables
  - var title = 'About page'

block content
  .wrapper
    include ../common/hero
    section.section.about
      .about__column.about__column_left
        svg(viewbox="0 0 900 160" preserveAspectRatio="none").about__triangle.about__triangle_fillWhite
          polygon(points="0,0 0,160 900, 160")
        .title.about__sectionTitle Обо мне
        .userAbout
          .userAbout__picture
          .userAbout__title
            .subtitle Кто я
          .userAbout__text
            p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .about__column.about__column_right
        svg(viewbox="0 0 900 160" preserveAspectRatio="none").about__triangle.about__triangle_fillBeige
          polygon(points="0, 160 900, 160 900, 0")
        .aboutData
          .aboutData__description.aboutUserInfo
            .aboutUserInfo__title
              .subtitle Чем я могу быть вам полезен
            .aboutUserInfo__text
              p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
          .aboutData__content
            ul.skills
              each skill in ['Frontend', 'Backend', 'WorkFlow']
                li.skills__item
                  .skillSection
                    .skillSection__title= skill
                    ul.skillSection__list 
    section.section.map
      .mapContainer(id="map")
      .contacts
        .subtitle.subtitle_contacts Контакты
        ul.contacts__list
          - var contacts = ['skype_kdn', 'astahov@gmail.com', '+7 931 200 93 24', 'г.Новосибирск, ул. Инская, д. 5']
          each i in contacts
            - var idBox = ['skypeContacts', 'envelopeContacts', 'phoneContacts', 'mapMarker']
            each j in idBox
              li.contacts__item
                a.contacts__link(href="#")
                  svg.contacts__icon
                    use(xlink:href=`assets/img/sprite.svg#${j}`)
                  span.contacts__text= i
  include ../common/footer  