extends ../template

block variables
  - var title = 'Blog | Vladimir Astachov'

block content
  .wrapper
    section.section.blogHero
      .blogHero__bg
        img.blogHero__bgImage(src="img/bg/heroBg.jpg")
      .blogHero__container.container.container_blog
        - var source = socials
        +socials('socials_hero socials_heroBlog')
        a.hamburger.hamburger_blog(href="#")
          svg.hamburger__icon
            use(xlink:href="img/sprite.svg#hamburger")
        .testdiv
          svg.blogHero__titleBg
            use(xlink:href="img/sprite.svg#titleBlogBg")
        .blogHero__content
          +userImage('userAvatar', 'blogHero__userImage')
          .blogHero__titleBlock
            .sectionTitle.blogHero__title
              h2.sectionTitle__inner.sectionTitle__inner_blogHero
                | Блог
            .blogHero__description
              | Статьи, которые я написал
    section.section.blog
      +triangleBlock('triangle__polygon_blog', 'triangle__polygon_blog')
      .blogContent.container
        aside.blogNav
          ul.blogNav__list
            li.blogNav__item.blogNav__item_active
              a.blogNav__link(href="#")
                | Самое важное в SASS
            li.blogNav__item
              a.blogNav__link(href="#")
                | Приёмы в вёрстке, без которых не обходится ни один сайт
            li.blogNav__item
              a.blogNav__link(href="#")
                | Самый необходимый набор Gulp плагинов
            li.blogNav__item
              a.blogNav__link(href="#")
                | Почему я выбрал Pug
        .blogArticles
          ul.blogArticles__list
            li.blogArticles__item
              article.article
                h3.article__title
                  | Самое важное в SASS
                .article__date
                  | 11 декабря 2017
                .article__content
                  p 
                    | Таким образом начало повседневной работы по формированию 
                    a(href="#") 
                      | позиции
                    |  позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                  p 
                    | Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании 
                    a(href="#") 
                      | систем
                    |  массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            li.blogArticles__item
              article.article
                h3.article__title 
                  | Приёмы в вёрстке, без которых не обходится ни один сайт
                .article__date
                  | 11 декабря 2017
                .article__content
                  p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                  p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            li.blogArticles__item
              article.article
                h3.article__title 
                  | Самый необходимый набор Gulp плагинов
                .article__date
                  | 11 декабря 2017
                .article__content
                  p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                  p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            li.blogArticles__item
              article.article
                h3.article__title 
                  | Почему я выбрал Pug
                .article__date
                  | 11 декабря 2017
                .article__content
                  p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                  p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
  include ../common/footer