extends ../template

block variables
  - var title = 'Владимир Астахов | Home'
  - var userElement = 'welcome__userBlock'
  - var userModifier = 'user_welcome'
  - var socialsElement = 'welcome__socials'
  - var socialsModifier = 'socials_welcome'
  - var copyrightAdditionalClass = 'welcome__copyright'

block content
  .wrapper
    section.section.welcome
      a.welcome__button.authorization(href="#") Авторизоваться
      .contentBox
        .contentBox__info
          include ../common/user
          include ../common/socials
        nav.nav.welcome__nav
          ul.nav__list
            each item in ["Мои работы", "Обо мне", "Блог"]
              li.nav__item
                a.nav__link(href="about.html")= item
      include ../common/copyright