extends ../template

block variables
  - var title = 'Home | Vladimir Astachov'
  - var source = socials

block content
  section.section.welcome
    include ../common/parallax
    .welcome__inner
      a.welcome__button.authorization(href="login.html") Авторизоваться
      .flipBox
        .flipBox__card.flipBox__card_user.box
          .box__content.box__content_welcome
            +user('welcome__userBlock user_welcome')
            +socials('socials_welcome')
          ul.box__menu
            li.box__menuItem
              a.box__menuButton(href="works.html") Мои работы
            li.box__menuItem
              a.box__menuButton(href="about.html") Обо мне
            li.box__menuItem
              a.box__menuButton(href="blog.html") Блог
        .flipBox__card.flipBox__card_login.box
          .box__content.login
            .login__title.subtitle
              | Авторизуйтесь
            form.login__form#loginForm(action="#")
              .login__inputWrapper
                .login__iconBlock
                input.login__input
              .login__inputWrapper
                .login__iconBlock
                input.login__input
          ul.box__menu
            li.box__menuItem
              a.box__menuButton(href="index.html") На главную
            li.box__menuItem
              button.box__menuButton(type="submit" form="#") Войти

      //- .welcome__board.box.box_welcome
      //-   .box__content.box__content_welcome
      //-     +user('welcome__userBlock user_welcome')
      //-     +socials('socials_welcome')
      //-   ul.box__menu
      //-     li.box__menuItem
      //-       a.box__menuButton(href="works.html") Мои работы
      //-     li.box__menuItem
      //-       a.box__menuButton(href="about.html") Обо мне
      //-     li.box__menuItem
      //-       a.box__menuButton(href="blog.html") Блог
      


      +copyright('copyright_welcome')